/* Color Theme Swatches in RGBA */
bgColor-rgba {
  color: rgba(4, 40, 63, 1);
}
font-rgba {
  color: rgba(0, 91, 82, 1);
}
secondary-rgba {
  color: rgba(158, 193, 49, 1);
}
primary-rgba {
  color: rgba(219, 242, 38, 1);
}
neutral-rgba {
  color: rgba(214, 212, 142, 1);
}
