@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Montserrat:wght@500;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(4, 40, 63, 0.9),
      rgba(4, 40, 63, 0.9)
    ),
    url('assets/pexels-scott-webb-2117938_v5vcrh_c_scale\,w_1966.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

p,
input,
label,
textarea {
  font-family: 'Hind', sans-serif;
  padding: 0.2rem 0;
  outline: none;
}

img {
  width: 100%;
}

